PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=PIELSPosesDB
MONGODB_USER_POSES_COLLECTION=user_poses
MONGODB_SYSTEM_POSES_COLLECTION=system_poses
MONGODB_USER_HAND_POSES_COLLECTION=user_hand_poses
MONGODB_SYSTEM_HAND_POSES_COLLECTION=system_hand_poses
MONGODB_SYSTEM_FACE_POSES_COLLECTION=system_face_poses
CORS_ORIGINS=*
API_KEY=
